/* ------CSS RESET-----*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: tahoma;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------end RESET-----*/

/*-----STYLE----*/

body {
  font-family: Arial, sans-serif;
  color: darkblue;
  background-color: lightyellow;
}

section {
  width: 960px;
  margin: auto;
  background-color: lightblue;
}

header {
  text-align: center;
}

header img {
  display: block;
}

article {
  float: right;
  width: 590px;
  padding: 25px;
}

h1{
  font-size: 25px;
  color: darkblue;
}

h2 {
  font-size: 32px;
  font-family: georgia;
  color: #e2a1ca;
}

h3 {
  font-family: georgia;
  color: lightyellow;
  margin-bottom: 10px;
  padding-left: 30px;
}

p {
  font-family: arial;
  margin-bottom: 16px;
}

/*-----NAV STYLES----*/

nav {
  width: 270px;
  background-color: lightyellow;
  position: absolute;
  top: 350px;
  left: 200px;
}

nav ul {
  list-style-type: none;
  margin-bottom: 60px;
}

nav ul li a {
  display: block;

  background-color: lightyellow;
  color: darkblue;

  font-weight: bold;
  font-size: 20px;

  line-height: 40px;
  height: 40px;

  text-transform: lowercase;;
  text-decoration: none;

  padding-left: 10px;
  border-bottom: 3px solid pink;
}

nav ul li a:hover {
  background: pink;
}

/*----end NAV STYLES----*/

/*----FOOTER----*/

footer {
  clear: both;
  background-color: #383f43;
  padding: 25px;
}

h4 {
  color: darkblue;
}

/*----end FOOTER----*/
