/* ------CSS RESET-----*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: tahoma;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------end RESET-----*/

/*-----HEADER STYLE----*/

/*-----end HEADER STYLE----*/

/*----STRUCTURE STYLE---*/
.wrapper {
  width: 1024px;
  margin: auto;
}

/*----end STRUCTURE---*/

/*----MAIN STYLES----*/
body {
  font-family: Arial, sans-serif;
  color: darkblue;
  background-color: #5C5757;
}

section {
  width: 960px;
  margin: auto;
  background-color: #C7BFBF;
}
/*----end MAIN-----*/

/*----NAV STYLES---*/
.button {
  display: inline-block;
  position: relative;
  margin-right: -4px;
}

.button img {
  width: 200px;
  height: 200px;
  padding-top: 25px;
  padding-left: 75px;
  padding-bottom: 25px;
  margin: 10px;
}

.button4 img {
    padding-left: 600px;
    margin: 0;
    width: 50px;
    height: 50px;
  }

#past, #present, #future {
  top: 0;
  padding-left: 85px;
  margin: 0;
  width: 200px;
  height: 200px;
  position: absolute;
  text-align: center;
  line-height: 300px;
  font-family: helvetica;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

#sources {
  position: absolute;
  text-align: center;
  line-height: 50px;
  font-family: helvetica;
  font-size: 21px;
  font-weight: bold;
  color: black;
}

#past {
  background-color: rgba(234, 185, 98, 0.3);
}

#present {
  background-color: rgba(235, 61, 171, 0.3);
}

#future {
  background-color: rgba(38, 54, 232, 0.3);
}

#sources {
  background-color: rgba(99, 17, 166, 0.3);
}

a:hover #past {
   background-color: rgba(234, 184, 98, 0.7);
   width: 200px;
   height: 200px;
}

a:hover #present {
  background-color: rgba(235, 61, 171, 0.7);
  width: 200px;
  height: 200px;
}

a:hover #future {
   background-color: rgba(38, 54, 232, 0.7);
   width: 200px;
   height: 200px;
}

a:hover #sources {
   background-color: rgba(99, 17, 166, 0.7);
}

/*---end NAV----*/

/*----FOOTER STYLE----*/
footer {
  clear: both;
  background-color: white;
  padding: 25px;
  height: 150px;
}


h4 a {
  text-decoration: none;
  color: black;
}

h4 a:hover {
  color: lightyellow;
}

/*----end FOOTER*/
