.button {
  display: inline-block;
  position: relative;
  margin-right: -4px;
}

.button4 {
  display: inline-block;
  position: relative;
  margin-right: -4px;
}

.button img {
  width: 200px;
  height: 200px;
  padding-top: 25px;
  padding-left: 75px;
  padding-bottom: 25px;
  margin: 10px;
}

.button4 img {
    padding-left: 600px;
    padding-top: 300px;
    margin: 10px;
    width: 100px;
    height: 100px;
  }

p {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 300px;
  font-family: tahoma;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

#past {
  background-color: rgba(35, 104, 86, .8);
}

#present {
  background-color: rgba(66, 149, 204, .8);
}

#future {
  background-color: rgba(185, 66, 204, .8);
}

a:hover #past{
   background-color: rgba(35, 104, 86, .5);
}

a:hover #present {
  background-color: rgba(66, 149, 204, .5);
}

a:hover #future {
   background-color: rgba(185, 66, 204, .5);
}
