/* ------CSS RESET-----*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: tahoma;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------end RESET-----*/

/*-----HEADER STYLE----*/
header {
  background-color: #000;
  padding: 35px;
}
/*-----end HEADER STYLE----*/

/*----STRUCTURE STYLE---*/
.wrapper {
  width: 1024px;
  margin: auto;
}

/*----end STRUCTURE---*/

/*----MAIN STYLES----*/
body {
  font-family: Arial, sans-serif;
  color: darkblue;
  background-color: lightyellow;
}

section {
  width: 960px;
  margin: auto;
  background-color: lightblue;
}
/*----end MAIN-----*/

/*----NAV STYLES---*/
.button {
  display: inline-block;
  position: absolute;
  ]margin-right: -4px;
}

p {
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 300px;
  font-family: helvetica;
  font-size: 24px;
  font-weight: regular;
  color: black;
}

#past {
  background-color: rgba();
}

#present {
  background-color: rgba();
}

#future {
  background-color: rgba();
}

a:hover #past{
   background-color: rgba();
}

a:hover #present {
  background-color: rgba();
}

a:hover #future {
   background-color: rgba();
}

/*---end NAV----*/

/*----FOOTER STYLE----*/
footer {
  clear: both;
  background-color: white;
  padding: 25px;
}

#sources {
  background-color: rgba();
}

a:hover #sources{
   background-color: rgba();
}

h4 a {
  text-decoration: none;
  color: white;
}

h4 a:hover {
  color: lightyellow;
}

/*----end FOOTER*/
