/* ------CSS RESET-----*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: tahoma;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------end RESET-----*/

/*-----HEADER STYLE----*/

/*-----end HEADER STYLE----*/

/*----STRUCTURE STYLE---*/
.wrapper {
  width: 1024px;
  margin: auto;
}

/*----end STRUCTURE---*/

/*----MAIN STYLES----*/
body {
  background-color: #5C5757;
}

section {
  width: 960px;
  margin: auto;
  background-color: #C7BFBF;
}
/*----end MAIN-----*/

/*----NAV STYLES---*/
#home {
  display: inline-block;
  position: relative;
  margin-left: 55px;
  margin-top: 15px;
}

.button {
  display: inline-block;
  position: relative;
  margin-right: -4px;
}

nav p {
  top: 0;
  margin-left: 115px;
  position: absolute;
  text-align: center;
  line-height: 50px;
  font-family: 'Itim', cursive;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.button img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 115px;
  margin-bottom: 5px;
  opacity: 0.3;
}

  #past {
    background-color: rgba(234, 185, 98, 0.3);
    width: 100px;
    height: 100px;
    padding: 0;
    margin-top: 10px;
    margin-left: 115px;
    margin-bottom: 5px;
  }

  #present {
    background-color: rgba(235, 61, 171, 0.3);
    width: 100px;
    height: 100px;
    padding: 0;
    margin-top: 10px;
    margin-left: 115px;
    margin-bottom: 5px;
  }

  #future {
    background-color: rgba(212, 251, 251, 0.3);
    width: 100px;
    height: 100px;
    padding: 0;
    margin-top: 10px;
    margin-left: 115px;
    margin-bottom: 5px;
  }

  #sources {
    background-color: rgba(99, 17, 166, 0.3);
    width: 100px;
    height: 100px;
    padding: 0;
    margin-top: 10px;
    margin-left: 115px;
    margin-bottom: 5px;
  }

  a:hover #past {
     background-color: rgba(234, 184, 98, 0.7);
     width: 100px;
     height: 100px;
     padding: 0;
     margin-top: 10px;
     margin-left: 115px;
     margin-bottom: 5px;
  }

  a:hover #present {
    background-color: rgba(235, 61, 171, 0.7);
    width: 100px;
    height: 100px;
    padding: 0;
    margin-top: 10px;
    margin-left: 115px;
    margin-bottom: 5px;
  }

  a:hover #future {
     background-color: rgba(212, 251, 251, 0.7);
     width: 100px;
     height: 100px;
     padding: 0;
     margin-top: 10px;
     margin-left: 115px;
     margin-bottom: 5px;
  }

  a:hover #sources {
     background-color: rgba(99, 17, 166, 0.7);
     width: 100px;
     height: 100px;
     padding: 0;
     margin-top: 10px;
     margin-left: 115px;
     margin-bottom: 5px;
  }

/*---end NAV----*/

/*----ARTICLES STYLE---*/
article {
  float: center;
  width: 615px;
  padding-left: 160px;
}

h1 {
  font-family: 'Itim', cursive;
  font-size: 37px;
  font-weight: bold;
  color: black;
}

article p {
  font-family: 'Itim', cursive;
  font-size: 21px;
  color: black;
  padding-bottom: 15px;
}

article img {
  width: 190px;
  height: 180px;
  margin: 5px;
  padding-left: 15px;
}


/*----FOOTER STYLE----*/
footer {
  display: block;
  background-color: #E2E3E3;
  padding: 25px;
  height: 50px;
}

h4 a {
  text-decoration: none;
  color: black;
  font-family: 'Itim', cursive;
}

h4 a:hover {
  color: #5C5757;
}
