/* ------CSS RESET-----*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: tahoma;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------end RESET-----*/

/*----STRUCTURE---*/

.wrapper {
  margin: auto;
  max-width: 1024px;
}

body .background {
  background-image: url("images/bkg-desktop.jpg");
  width: 1024px;
  margin: auto;
  max-width: 1024px:
}

section {
  width: 85%;
  margin: auto;
  background-color: #E3C7C8;
}

/*---end STRUCTURE---*/

/*----HEADER---*/

header {
  width: 80%;
  height: 200px;
  display: table;
  margin: auto;
}

.logo-wrapper {
  width: 19%;
  display: table-cell;
}

.headline-wrapper {
  display: table-cell;
  vertical-align: bottom;
}

h1 {
  display: inline-block;
  font-family: 'Delius Unicase', cursive;
  font-weight: 700;
  margin-bottom: 1%;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  margin-bottom: 1%;
  font-size: 1em;
  line-height: 1.5em;
}

h3 {
  font-family: 'Delius Unicase', cursive;
  font-weight: 400;
  margin-bottom: 1%;
}

/*------------ TABLET header----------*/

@media (max-width: 768px) {
  .logo-wrapper {
    width: 100%;
    display: block;
    margin: 5%, 0, 5%, 0;
    text-align: center;
    padding-left: 300px;
  }

  .headline-wrapper {
    display: block;
    padding: 0;
    text-align: center;
  }
}
/*---end TABLET header---*/

/*------MOBILE header----*/
@media (max-width: 375px) {
  header img {
    width: 100%;
    display: block;
    text-align: center;
  }

  .headline-wrapper {
    display: block;
    padding: 0;
    text-align: center;
  }

  header h2 {
    font-size: .8em;
    color: #bf81c4;
  }
}
/*--end MOBILE HEADER---*/

/*---end HEADER--*/

/*--NAV---*/
nav {
  width: 85%;
  margin: auto;
}

nav ul {
  display: table;
  width: 100%;
}

nav li {
  display: table-cell;
  text-align: center;
}

nav li:nth child(1),
nav li:nth child(4) {
  text-align: left;
}

nav li:nth child(3),
nav li:nth child(6) {
  text-align: right;
}

nav li img {
  width: 100%;
}

nav .row1,
nav .row2 {
  display: table-row;
}

nav .row1 li {
  padding-bottom: 1%;
}

/*--------MOBILE pic nav---------*/
@media (max-width: 375px) {
  nav li {
    display: block;
    padding-bottom: 3%;
    text-align: center;
  }
}
/*---end MOBILE pic nav---*/

/*---INTERNAL NAV---*/
.internal-nav ul {
  display: table;
  margin-top: 5%;
}

.internal-nav li {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  display: table-cell;
}

.internal-nav li a {
  text-decoration: none;
  color: black;
}

/*---end NAV--*/

/*---MAIN content--*/
figure {
  display: table;
  margin-top: 5%;
}

figure img {
  width: 70%;
  display: table-cell;
  margin: 0 3% 15% 15%;
}

figcaption {
  width: 35%;
  display: table-cell;
  vertical-align: top;
}

figcaption p {
  margin-top: 5%;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

main h3 {
  margin-top: 15%;
  margin-right: 5%;
  font-family: 'Delius Unicase', cursive;
  font-weight: 400;
  font-size: 2em;
}

main h4 {
  margin-top: 3%;
  margin-right: 5%;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

main p {
  margin-top: 3%;
  margin-right: 5%;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

/*-----TABLET internal page---*/
@media (max-width: 768px) {
  figure {
    display: block;
  }

  figure img {
    width: 100%;
    margin: auto;
  }
}
/*--end TABLET internal--*/

/*--MOBILE internal page--*/
@media (max-width: 375px) {
  figure {
    display: block;
  }

  figure img {
    width: 100%;
    margin: auto;
  }
}
/*--end MOBILE internal--*/

/*--end MAIN--*/

/*---FOOTER---*/
footer {
  width: 85%;
  margin: auto;
  height: 60px;
  background-color: darkgrey;
}

footer p {
  display: inline-block;
  padding-right: 3%;
  text-align: center;
  font-family: 'Delius Unicase', cursive;
  font-weight: 400;
}

footer a {
  text-decoration: none;
  color: white;
}

/*---TABLET footer--*/
@media (max-width: 768px) {
  footer {
    height: 80px;
  }
}

@media (max-width: 768px) {
  footer p {
    display: block;
  }
}
/*--end TABLET footer--*/

/*---MOBILE FOOTER---*/
@media (max-width: 375px) {
  footer {
    height: 80px;
  }
}

@media (max-width: 375px) {
  footer p {
    display: block;
  }
}

/*---end FOOTER---*/
